<div class="container">
    <div *ngIf="getConsultations(consultations).length > 0">
      <h1 class="h3 mb-3 font-weight-normal text-center">Consultas</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Fecha Consulta</th>
                  <th scope="col">Docente</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Ejercicio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consultation of getConsultations(consultations)">
                  <td> {{ consultation.creationDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td> {{ consultation.teacher.user.name + ' ' +consultation.teacher.user.surename}}</td>
                  <td> {{ consultation.course.name}}</td>
                  <td>
                    <span *ngIf="consultation.problem">{{ consultation.problem.name }}</span>
                  </td>
                  <td>
                    <button [disabled]="!consultation.problem" type="button" class="btn left-button btn-info" (click)="seeConsultation(consultation)">
                      Ver Consulta
                    </button>
                    <button type="button" class="btn center-button btn-danger" (click)="removeConsultation(consultation)"
                      [disabled]="!consultation.wasReadedByStudent">
                      Eliminar
                      </button>
                    <button type="button" class="btn right-button btn-success" (click)="seeResponse(consultation)"
                      [disabled]="!consultation.teacherResponse">
                      Ver Respuesta
                    </button>
                    <fa style="margin-left: 5px; color: red;"
                      *ngIf="consultation.teacherResponse && !consultation.wasReadedByStudent"
                      name="exclamation-circle"></fa>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div *ngIf="getComunications(consultations).length > 0">
      <hr>
      <h1 class="h3 mb-3 font-weight-normal text-center">Comunicados</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Fecha Comunicado</th>
                  <th scope="col">Docente</th>
                  <th scope="col">Curso</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let consultation of getComunications(consultations)">
                  <td> {{ consultation.creationDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td> {{ consultation.teacher.user.name + ' ' +consultation.teacher.user.surename}}</td>
                  <td> {{ consultation.course.name}}</td>
                  <td>

                    <fa style="margin-left: 5px; color: red;"
                    *ngIf="consultation.teacherResponse && !consultation.wasReadedByStudent"
                    name="exclamation-circle"></fa>

                    <button *ngIf="!consultation.problem" type="button" class="btn left-button btn-secondary"
                      (click)="seeResponse(consultation)"
                      [disabled]="!consultation.teacherResponse">
                      Ver Comunicado
                    </button>
                    <button type="button" class="btn right-button btn-danger" (click)="removeConsultation(consultation)"
                      [disabled]="!consultation.wasReadedByStudent">
                      Eliminar
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
