<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Ingrese email">
          </div>
          <button class="two-buttons left-button btn btn-success btn-lg" type="submit">Aceptar</button>
          <button class="two-buttons right-button btn btn-danger btn-lg" type="button" routerLink="/user/login">Cancelar</button>
        </form>
    </div>
  </div>
</div>
