<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="modal-header">
      <h4 class="modal-title"> Consulta al docente </h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <textarea class="form-control" ngModel name="consultation" style="width:100%;" rows="4"
        required placeholder="Escriba una consulta"></textarea>
        <button type="button"
          style="width: 100%; border-radius: 0px 0px 5px 5px;"
          class="btn btn-default"
          (click)="attachCode()">
          <span *ngIf="!codeWasAttached">Adjuntar Código</span>
          <span *ngIf="codeWasAttached">Quitar Código</span>
        </button>
    </div>
    <div class="modal-footer">
      <button type="submit" style="width: 100%;" class="btn btn-success" [disabled]="!f.valid">Enviar</button>
    </div>
  </form>
