<button style="position: relative; top: 38px; left: -46px; width: 45px;"
  class="btn btn-success" placement="top" ngbTooltip="Ejecutar" (click)="onExecuteButtonClick()">
    <fa name="play"></fa>
</button>
<button style="position: relative; top: 77px; left: -91px; width: 45px;"
  class="btn btn-primary" *ngIf="workspaceProblem" placement="top" ngbTooltip="Ver Primitivas"
  (click)="onSeePrimitivesButtonClick()">
  <fa name="codepen"></fa>
</button>
<button style="position: relative; top: 116px; left: -136px; width: 45px;"
  class="btn btn-secondary" *ngIf="workspaceProblem"
  placement="top" ngbTooltip="Enviar Consulta" (click)="onConsultationButtonClick()">
  <fa name="paper-plane"></fa>
</button>
<button style="position: relative; top: 155px; left: -181px; width: 45px;"
  class="btn btn-danger" *ngIf="workspaceProblem"
  placement="top" ngbTooltip="Borrar area de trabajo" (click)="onClearButtonClick()">
  <fa name="eraser"></fa>
</button>
<button style="position: relative; top: 241px; left: -225px; width: 45px;"
  class="btn btn-dark" *ngIf="workspaceProblem"
  placement="top" ngbTooltip="Borrar log" (click)="onClearLogButtonClick()">
  <fa name="trash"></fa>
</button>
