<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center">Ejercicios</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 65vh;">
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Docente</th>
                <th scope="col"> <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Buscar..." (keyup)="onSearch($event)"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let problem of filteredProblems">
                <td> {{ problem.name }}</td>
                <td> {{ problem.teacher.user.name  + ' ' + problem.teacher.user.surename}} </td>
                <td>
                  <button type="button" class="three-buttons left-button btn btn-info"
                    (click)="see(problem)">
                    Ver
                  </button>
                  <button type="button" class="three-buttons center-button btn btn-success"
                    [routerLink]="'/home/edit-problem/' + problem.id">
                    Editar
                  </button>
                  <button type="button" class="three-buttons right-button btn btn-danger"
                    (click)="removeProblem(problem)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <app-paginator *ngIf="problems.length > 0" [rawData]="problems" [pageSize]="5"
      (pageChanged)="onPageChanged($event)"></app-paginator>
  </div>
