<div class="form-inline" *ngIf="inscriptions.length > 0">
    <span style="color: white;">Curso Seleccionado <fa name="arrow-right"></fa></span>
    <select [(ngModel)]="courseSelected" class="custom-select" [compareWith]="compareFn"
       (change)="onCourseSelection();">
        <option [ngValue]="emptyCourseSelection">Seleccione un curso...</option>
        <option [ngValue]="inscription.course" *ngFor="let inscription of inscriptions">{{inscription.course.name}}</option>
    </select>
</div>

