<nav class="navbar navbar-expand-lg navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/"><fa name="code"></fa> PEP</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="user.role === 'ROLE_STUDENT'">
          <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/workspace">Area de Trabajo</a>
        </li>
        <li class="nav-item" *ngIf="user.role === 'ROLE_STUDENT'">
            <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/course/list">Mis Cursos</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user.role === 'ROLE_TEACHER'">
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Cursos</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item cursor-pointer"
                *ngIf="user.role === 'ROLE_TEACHER'"
                routerLinkActive="active"
                routerLink="/home/new-course">
                Crear Curso
              </a>
              <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/course/list">Mis Cursos</a>
            </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user.role === 'ROLE_TEACHER'">
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Ejercicios</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item cursor-pointer"
                routerLinkActive="active"
                routerLink="/home/new-problem">Crear Ejercicio</a>
              <a class="dropdown-item cursor-pointer"
                routerLinkActive="active"
                routerLink="/home/problem/list">Ver Ejercicios</a>
            </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user.role === 'ROLE_TEACHER'">
          <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Primitivas</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item cursor-pointer"
              routerLinkActive="active"
              routerLink="/home/new-primitive">Crear Primitiva</a>
            <a class="dropdown-item cursor-pointer"
              routerLinkActive="active"
              routerLink="/home/primitive/list">Ver Primitivas</a>
          </div>
      </li>
        <li class="nav-item" *ngIf="user.role === 'ROLE_STUDENT'">
            <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/student-consultations">Mis Consultas
              <span *ngIf="unreadValue || unreadValue > 0"
                class="badge badge-danger">{{unreadValue}}</span></a>
        </li>
        <li class="nav-item" *ngIf="user.role === 'ROLE_TEACHER'">
            <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/teacher-consultations">Mis Consultas
              <span *ngIf="unreadValue || unreadValue > 0"
                class="badge badge-danger">{{unreadValue}}</span></a>
        </li>
        <li class="nav-item" *ngIf="user.role === 'ROLE_TEACHER'">
            <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/chart">
              Dashboard
            </a>
        </li>
      </ul>
      <app-course-select *ngIf="user.role === 'ROLE_STUDENT'"></app-course-select>
      <ul class="navbar-nav">
        <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">
                {{' ' + user.username + ' | '}}
                <img class="rounded-circle" height="30" [src]="user.imageId | profileImage"/>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu style="left: -120px !important;">
              <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/account">Cuenta</a>
              <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/change-password">Cambio de Contraseña</a>
              <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/profile-image">Imagen de Perfil</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item cursor-pointer" (click)="logout()"><fa name="sign-out"></fa> Salir</a>
            </div>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link  cursor-pointer" role="button" (click)="onShowHelp()">
                <fa name="question-circle"></fa>
              </a>
          </li>
      </ul>
      </div>
  </nav>
