<nav class="navbar navbar-expand-lg navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/"><fa name="code"></fa> PEP</a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
                <a class="nav-link cursor-pointer" routerLinkActive="active" routerLink="/home/workspace">Area de Trabajo</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Cursos</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item cursor-pointer"
                [appOptionRoleValidation]="'ROLE_TEACHER'"
                routerLinkActive="active"
                routerLink="/home/new-course">
                Crear Curso
              </a>
              <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/course/list">Mis Cursos</a>
            </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown [appOptionRoleValidation]="'ROLE_TEACHER'">
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Ejercicios</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item cursor-pointer">Crear Ejercicio</a>
              <a class="dropdown-item cursor-pointer">Ver Ejercicios</a>
            </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle role="button">Consultas</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item cursor-pointer">Ver Consultas</a>
            </div>
        </li>
      </ul>
      <div class="my-2 my-lg-2">
          <ul class="navbar-nav nav">
              <li class="nav-item dropdown" ngbDropdown>
                  <a class="nav-link dropdown-toggle" style="cursor: pointer;" ngbDropdownToggle role="button">
                    <img class="rounded-circle" height="30" [src]="'/pep-api/file/' + imageId"/>
                    {{username}}</a>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/account">Cuenta</a>
                    <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/change-password">Cambio de Contraseña</a>
                    <a class="dropdown-item cursor-pointer" routerLinkActive="active" routerLink="/home/profile-image">Imagen de Perfil</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item cursor-pointer" (click)="logout()"><fa name="sign-out"></fa> Salir</a>
                  </div>
              </li>
            </ul>
        </div>
    </div>
  </nav>


<!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="navbar-brand" routerLink="/"><fa name="code"></fa> PEP</a>


    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      data-toggle="collapse" data-target="#navbarSupportedContent"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link">Cursos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>


    <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link">Cursos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>


    <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link">Cursos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>


      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link">Cursos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav nav">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" style="cursor: pointer;" ngbDropdownToggle role="button"></a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>

-->
