<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">Cursos</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 65vh;">
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Docente</th>
                  <th scope="col"><input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Buscar..." (keyup)="onSearch($event)"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of filteredCourses">
                  <td> {{ course.name }}</td>
                  <td> {{ course.teacher.user.name  + ' ' + course.teacher.user.surename}} </td>
                  <td *ngIf="user.role === 'ROLE_TEACHER'">
                    <button type="button" class="four-buttons left-button btn btn-primary"
                      (click)="see(course)">
                      Ver
                    </button>
                    <button type="button" class="four-buttons center-button btn btn-secondary"
                    (click)="sendComunication(course)">
                     Enviar Com.
                    </button>
                    <button type="button" class="four-buttons center-button btn btn-success"
                     [routerLink]="'/home/edit-course/' + course.id">
                        Editar
                    </button>
                    <button type="button" class="four-buttons right-button btn btn-danger"
                      (click)="removeCourse(course)">
                        Eliminar
                    </button>
                  </td>
                  <td *ngIf="user.role === 'ROLE_STUDENT'">
                    <button type="button" class="three-buttons left-button btn btn-primary"
                      (click)="see(course)">
                      Ver
                    </button>
                    <button type="button" class="three-buttons center-button btn btn-success"
                      [disabled]="isStudentEnrolled(course)" (click)="enroll(course)">
                        Inscripción
                    </button>
                    <button type="button" class="three-buttons right-button btn btn-danger"
                      [disabled]="!isStudentEnrolled(course)" (click)="removeEnroll(course)">
                        Quitar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <app-paginator *ngIf="courses.length > 0" [rawData]="courses" [pageSize]="5"
      (pageChanged)="onPageChanged($event)"></app-paginator>
  </div>
