<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">Mis Cursos</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Docente</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses">
                  <td> {{ course.name }}</td>
                  <td> {{ course.teacher.user.name  + ' ' + course.teacher.user.surename}} </td>
                  <td *ngIf="user.role === 'ROLE_TEACHER'">
                    <button type="button" class="two-buttons left-button btn btn-success"
                     [routerLink]="'/home/edit-course/' + course.id">
                        Editar
                    </button>
                    <button type="button" class="two-buttons right-button btn btn-danger"
                      (click)="removeCourse(course)">
                        Eliminar
                    </button>
                  </td>
                  <td class="pull-right" *ngIf="user.role === 'ROLE_STUDENT'">
                    <button type="button" style="width:60%" class="two-buttons left-button btn btn-success"
                      [disabled]="isStudentEnrolled(course)" (click)="enroll(course)">
                        Inscripción
                    </button>

                    <button type="button" style="width:40%" class="two-buttons right-button btn btn-danger"
                      [disabled]="!isStudentEnrolled(course)" (click)="removeEnroll(course)">
                        Quitar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
