<div class="progress-list-flex">
    <a *ngFor="let wp of workspace.problems"
      class="progress-list-item text-center cursor-pointer active"
      (click)="selectProblem(wp)"
      [ngClass]="{'success': wp.active}" placement="top" [ngbTooltip]="wp.problem.name">
      <fa name="check"
        *ngIf="wp.state === 'OK'"
        [ngClass]="{'ok': wp.active, 'nofocus': !wp.active}"
        style="position:relative; top: -20px;"></fa>
      <fa name="times"
        *ngIf="wp.state === 'NOOK'"
        [ngClass]="{'nook': wp.active, 'nofocus': !wp.active}"
        style="position:relative; top: -20px;"></fa>
      <fa name="question"
        *ngIf="wp.state === 'FEEDBACK'"
        [ngClass]="{'feedback': wp.active, 'nofocus': !wp.active}"
        style="position:relative; top: -20px;"></fa>
    </a>
</div>
