<div class="modal-header">
    <h4 class="modal-title"> Solución de alumno </h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="correction.workspaceProblem.solution"></ngx-monaco-editor>
  </div>
  <div class="modal-footer">
    <button type="button" style="width: 100%;" class="btn btn-success" (click)="accept()">Aceptar</button>
  </div>
