<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center" style="margin-top:50px;">Registro de Usuario</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <input type="text" id="name" name="name" ngModel class="form-control" placeholder="Ingrese su nombre" required>
          </div>
          <div class="form-group">
            <input type="text" id="surename" name="surename" ngModel class="form-control" placeholder="Ingrese su apellido" required>
          </div>
          <div class="form-group">
            <select name="documentType" ngModel class="custom-select" required>
              <option value="">Ingrese su tipo de documento</option>
              <option value="DNI">DNI</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" id="documentNumber" name="documentNumber" ngModel class="form-control"
              placeholder="Ingrese su nro. de documento" required>
          </div>
          <div class="form-group">
            <input type="email" id="username" name="username" ngModel class="form-control"  placeholder="Ingrese su correo electrónico" required>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" ngModel class="form-control" #pass1="ngModel"
            placeholder="Ingrese su contraseña" required>
            <span class="pull-right help-block" *ngIf="pass1.value !== pass2.value">Las contraseñas no coinciden</span>
          </div>
          <div class="form-group">
              <input type="password" id="password2" name="password2" ngModel class="form-control" #pass2="ngModel"
              placeholder="Reingrese su contraseña" required>
          </div>
        <button
          class="two-buttons left-button btn btn-success btn-lg"
          type="submit" [disabled]="!f.valid || pass1.value !== pass2.value">Aceptar</button>
        <button class="two-buttons right-button btn btn-danger btn-lg"
          type="button" routerLink="/user/login">Cancelar</button>
      </form>
    </div>
  </div>
</div>
