<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">Cambio de Contraseña</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <input type="password" id="oldPassword" name="oldPassword" ngModel class="form-control"
                placeholder="Ingrese su contraseña" required>
              </div>
            <div class="form-group">
              <input type="password" id="newPassword" name="newPassword" ngModel class="form-control" #newPassword="ngModel"
              placeholder="Ingrese su nueva contraseña" required>
              <span class="pull-right help-block" *ngIf="newPassword.value !== pass2.value">Las contraseñas no coinciden</span>
            </div>
            <div class="form-group">
                <input type="password" id="password2" name="password2" ngModel class="form-control" #pass2="ngModel"
                placeholder="Reingrese su nueva contraseña" required>
            </div>
          <button class="two-buttons left-button btn btn-success btn-lg" type="submit"
            [disabled]="!f.valid || newPassword.value !== pass2.value || !f.touched">Aceptar</button>
          <button class="two-buttons right-button btn btn-danger btn-lg" type="button" routerLink="/home/start">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
