<div class="modal-header">
    <h4 class="modal-title">Ayuda</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="height: 65vh; overflow: auto;">
        <div class="card">
          <div class="card-body">
            <app-welcome-help *ngIf="checkView('/home/start')"></app-welcome-help>
            <app-my-courses-help *ngIf="checkView('/home/course/list')"></app-my-courses-help>
            <app-create-course-help *ngIf="checkView('/home/new-course')"></app-create-course-help>
            <app-create-course-help *ngIf="checkView('/home/edit-course')"></app-create-course-help>
            <app-my-problems-help *ngIf="checkView('/home/problem/list')"></app-my-problems-help>
            <app-create-problem-help *ngIf="checkView('/home/new-problem')"></app-create-problem-help>
            <app-create-problem-help *ngIf="checkView('/home/edit-problem')"></app-create-problem-help>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" style="width: 100%;" class="btn btn-primary" (click)="close()">Cerrar</button>
    </div>
