<div class="container">
  <br>

  <app-course-description
    *ngIf="student && student.selectedCourse"
    [course]="student.selectedCourse">
  </app-course-description>

  <br>

  <app-course-navigator></app-course-navigator>

  <app-problem-explanation
    *ngIf="student && student.selectedProblem"
    [problem]="student.selectedProblem">
  </app-problem-explanation>

  <div class="row" style="margin-top:-15px;">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <app-consultation-btn [student]="student"></app-consultation-btn>
        <ngx-monaco-editor (keyup)="update()"
          [options]="editorOptions"
          [(ngModel)]="solution">
        </ngx-monaco-editor>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">RESULTADOS</div>
      </div>
    </div>
  </div>

</div>
