<div class="container">
  <br>
  <app-course-description *ngIf="workspace" [course]="workspace.course"></app-course-description>
  <br>

  <app-course-navigator *ngIf="workspace" [workspace]="workspace" (problemSelected)="onProblemSelection($event)"></app-course-navigator>

  <app-problem-explanation *ngIf="workspace && activeProblem" [workspaceProblem]="activeProblem"></app-problem-explanation>

  <div class="row" style="margin-top:-15px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-buttons-menu (logChange)="onLogChanged($event)" [workspace]="workspace" [workspaceProblem]="activeProblem"></app-buttons-menu>
        <ngx-monaco-editor (keyup)="updateSolution()" *ngIf="activeProblem"
          [options]="editorOptions"
          [(ngModel)]="activeProblem.solution">
        </ngx-monaco-editor>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <textarea style="width: 100%;" [value]="log" readonly="true"></textarea>
      </div>
    </div>
  </div>

</div>
