<div class="text-center body" style="height: 80vh;">
  <br>
  <h1>Hola {{user.name}}, ¡Bienvenido/a a PEP!</h1>
  <br>
  <div *ngIf="user.role === 'ROLE_TEACHER'">
    <p>Como docente podrás gestionar cursos y ejercicios. Crear nuevos o utilizar los propuestos por la plataforma.</p>
    <p>Podrás realizar un seguimiento de tus alumnos a través de la sección de reportes.</p>
    <p>Tendrás contacto con tus alumnos a través de consultas que ellos te hagan.</p>
  </div>
  <div *ngIf="user.role === 'ROLE_STUDENT'">
    <p>Como alumno/a podrás inscribirte a todos los cursos que veas disponibles.</p>
    <p>Podrás navegar por los distintos ejercicios y resolver cada uno de ellos.</p>
    <p>Podrás consultarle al profesor si no comprendes alguna consigna o si te has bloqueado con alguna de ellas.</p>
  </div>
  <fa name="code" size="4x"></fa>
</div>
