<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="pull-left">
              Ejercicio: {{problem.name}}
          </div>
          <div class="pull-right">
            <fa name="minus-square" class="cursor-pointer"
              [ngStyle]="{ 'display': showProblemExplanation ? 'block' : 'none' }"
              (click)="showProblemExplanation = !showProblemExplanation"></fa>
            <fa name="plus-square" class="cursor-pointer"
              [ngStyle]="{ 'display': !showProblemExplanation ? 'block' : 'none' }"
              (click)="showProblemExplanation = !showProblemExplanation"></fa>
          </div>
        </div>
        <div class="card-body" [ngStyle]="{ 'display': showProblemExplanation ? 'block' : 'none' }">
          <div [innerHTML]="problem.explanation"></div>
        </div>
      </div>
    </div>
  </div>
