<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header cursor-pointer" (click)="showProblemExplanation = !showProblemExplanation">
          <div class="pull-left">
              Enunciado Ejercicio: {{workspaceProblem.problem.name}}
          </div>
          <div class="pull-right">
            <fa [name]="showProblemExplanation ? 'minus-square' : 'plus-square'" ></fa>
          </div>
        </div>
        <div class="card-body" [ngStyle]="{ 'display': showProblemExplanation ? 'block' : 'none' }">
          <div [innerHTML]="workspaceProblem.problem.explanation"></div>
        </div>
      </div>
    </div>
  </div>
