<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">Consultas</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 70vh;">
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Fecha Consulta</th>
                <th scope="col">Alumno</th>
                <th scope="col">Curso</th>
                <th scope="col">Ejercicio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consultation of filteredConsultations">
                <td> {{ consultation.creationDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td> {{ consultation.student.user.name + ' ' +consultation.student.user.surename}}</td>
                <td> {{ consultation.course.name}}</td>
                <td> {{ consultation.problem.name}}</td>
                <td>
                  <button type="button" class="btn two-buttons left-button btn-info" (click)="seeConsultation(consultation)">
                    Ver Consulta
                  </button>
                  <button type="button" class="btn two-buttons right-button btn-success"
                    (click)="sendResponse(consultation)" [disabled]="!consultation.wasReadedByTeacher">
                    Responder
                  </button>
                  <fa style="color: red; position: absolute; margin-left: 20px; margin-top: 5px;"
                  *ngIf="!consultation.wasReadedByTeacher" name="exclamation-circle"></fa>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <app-paginator *ngIf="consultations.length > 0" [rawData]="consultations" [pageSize]="6"
      (pageChanged)="onPageChanged($event)"></app-paginator>
  </div>
