/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}

angular-editor.ng-invalid.ng-touched, radio.ng-invalid.ng-touched, select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border-color:lightcoral;
}

.help-block {
  color:lightcoral;
}

.two-buttons {
  width: 50%;
}

.three-buttons {
  width: 33.33%;
}

.four-buttons {
  width: 50%;
}

.left-button {
  border-radius: 5px 0px 0px 5px;
}

.center-button {
  border-radius: 0px 0px 0px 0px;
}

.right-button {
  border-radius: 0px 5px 5px 0px;
}

.hide-role-option {
  display: none;
}

.nav-link.active[_ngcontent-c3], .nav-link[_ngcontent-c3]:active{
  border-radius: 8px;
}
