<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">Panel de Gráficos</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="h4 mb-3 font-weight-normal text-center">Inscriptos por Curso</h1>
        <canvas baseChart *ngIf="studentsForCourse.load"
          [data]="studentsForCourse.studentQuantity"
          [labels]="studentsForCourse.labels"
          chartType="pie"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
